---
import Layout from '../layouts/Layout.astro';
import { SceneLoader } from '../components/SceneLoader';
import bg from '../assets/bg.jpg';
import { Image } from 'astro:assets';
---

<Layout>
	<SceneLoader client:only="react" />

	<div class="grid grid-cols-12 p-16 py-10 relative mx-auto">
		<!-- <Image src={bg} alt="background" class="absolute inset-0 w-full h-full filter contrast-250 brightness-100 mix-blend-overlay z-0" /> -->

		<div class="flex flex-col justify-start items-start col-span-12 relative">
			<h1 class="text-8xl max-w-xs foreground z-10 leading-[0.9] text-[#ffbb00]">unusual undertaking</h1>
		</div>

		<div class="flex flex-col justify-start place-items-baseline items-start col-span-12 relative">
			<h2 class="text-3xl leading-[1.3] foreground z-10 mt-8 text-[#FFBF00] max-w-4xl mb-32">a studio blending art + engineering to create digital things that people love</h2>
		</div>

		<div class="flex flex-col justify-start place-items-baseline items-start col-span-12 relative">
			<h3 class="text-3xl leading-[1.3] foreground z-10 mt-12 text-[#FFBF00] max-w-4xl">
				Available for new projects:<br/><a href="mailto:email@unusualundertaking.com" class="border-b border-[#FFBF00] hover:text-[#FFBF00]">email@unusualundertaking.com</a>
			</h3>
		</div>

		<div class="flex flex-col justify-start place-items-baseline items-start col-span-12 relative mb-44">
			<p class="text-3xl leading-[1.3] foreground z-10 text-[#FFBF00] max-w-4xl">
				Specializing in: <br/>Landing Pages & Marketing sites, Full-stack web development, cross-platform mobile apps, game prototyping, creative coding projects, and more.
			</p>
		</div>
	</div>
</Layout>
