---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../scenes/hero';
import { Balls } from '../scenes/balls';
import bg from '../assets/bg.jpg';
import { Image } from 'astro:assets';
---

<Layout>
	<div id="hero" class="absolute inset-0 w-full h-full z-1 opacity-50">
		<Balls client:only="react" />
	</div>

	<div class="grid grid-cols-12 p-16 py-8 relative bg-gradient-to-b from-stone-700 to-black mx-auto">
		<Image src={bg} alt="background" class="absolute inset-0 w-full h-full filter contrast-250 brightness-100 z-0" />

		<div class="flex flex-col justify-start items-start col-span-12 relative">
			<h1 class="text-[3rem] max-w-xs foreground z-10 leading-[1.2] text-[#FFBF00]">unusual undertaking</h1>
		</div>

		<div class="flex flex-col justify-start place-items-baseline items-start col-span-12 relative">
			<h2 class="text-[3rem] leading-[1.2] foreground z-10 mt-12 text-[#FFBF00] max-w-4xl">a studio blending art + engineering to create digital things that people love</h2>
		</div>

		<!-- <div class="flex flex-col justify-start items-start col-span-12 mt-3 relative h-[2px] bg-stone-600" /> -->

		<!-- <div class="flex flex-row justify-center items-center col-span-12 col-start-2 col-end-12 relative gap-12 min-h-[750px] py-44 midground">
			<div class="h-36 w-36 bg-stone-800 rounded-full blur-xs absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-225px] translate-y-[120px]" />
			<div class="h-36 w-36 bg-stone-800 rounded-full blur-md absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-250px] translate-y-[125px]" />


			<div class="h-56 w-56 bg-stone-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[40px] translate-y-[40px] z-10" />
			<div class="h-56 w-56 bg-stone-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-40px] translate-y-[-40px] z-10" />
			<div class="h-56 w-56 bg-stone-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[40px] translate-y-[-80px] z-10" />
			<div class="h-44 w-44 bg-stone-800 rounded-full blur-lg absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-15px] translate-y-[-150px] z-10" />
			<div class="h-44 w-44 bg-stone-800 rounded-full blur- absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-15px] translate-y-[120px] z-10" />

			<div class="h-[275px] w-[275px] bg-lime-300 rounded-full blur-xl absolute top-0 left-0 right-0 bottom-0 m-auto z-5 translate-x-[15px] translate-y-[15px] mix-blend-hard-light" />
			<div class="h-[275px] w-[275px] bg-violet-300 rounded-full blur-xl absolute top-0 left-0 right-0 bottom-0 m-auto z-5 translate-x-[-15px] translate-y-[-15px] mix-blend-hard-light" /> 
			<div class="h-[275px] w-[275px] bg-stone-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto z-10" />
			<div class="h-[275px] w-[275px] bg-stone-800 rounded-full blur-xs absolute top-0 left-0 right-0 bottom-0 m-auto z-10" />


			<div class="h-24 w-24 bg-stone-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[250px] translate-y-[-125px]" />

			<div class="h-12 w-12 bg-stone-800 rounded-full blur-xs absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[300px] translate-y-[-200px]" />
		</div> -->

		<!-- <div class="grid grid-cols-4 col-span-12 relative bg-transparent py-16 gap-y-0.5 scale-100 rotate-[5deg] skew-x-[10deg]"> -->
		<div class="grid grid-cols-4 col-span-12 relative bg-transparent py-16 gap-y-0.5">
			<div class="col-span-4 h-96 " />
			<div class="col-span-4 h-96 " />
			<div class="col-span-4 h-96" />
		</div>	
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const layers = {
			foreground: 0.6,  // Fastest speed
			midground: 0.4,   // Medium speed
			background: 0.2   // Slowest speed
		};

		const updateParallax = () => {
			const scrollY = window.scrollY;

			Object.keys(layers).forEach(layer => {
				const elements = document.querySelectorAll(`.${layer}`);
				elements.forEach(element => {
					const speed = layers[layer as keyof typeof layers];
					const offset = scrollY * speed;
					(element as HTMLElement).style.transform = `translateY(${offset}px)`;
				});
			});
		};

		window.addEventListener('scroll', updateParallax);
	});
</script>
