---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../scenes/hero';
---

<Layout>
	<main class="grid grid-cols-12 pt-12 relative bg-gradient-to-r from-neutral-50 via-neutral-100 to-neutral-50">
		<div class="absolute inset-0 noise" />

		<div class="flex flex-col justify-start items-start col-span-4 col-start-2 relative">
			<h1 class="text-2xl leading-[1.2] tracking-looser font-sans max-w-xs text-neutral-800 text-right">unusual undertaking</h1>
		</div>

		<div class="flex flex-col justify-start place-items-baseline items-end col-span-6 col-start-6 relative">
			<h2 class="text-xl leading-[1.2] tracking-loose text-neutral-800 text-right">a studio specializing in art, game-dev, and building software products</h2>
		</div>

		<div class="flex flex-col justify-start items-start col-span-12 mt-4 col-start-2 col-end-12 relative h-[3px] bg-neutral-800" />

		<!-- <div class="flex flex-row justify-center items-center col-span-12 col-start-2 col-end-12 relative gap-12 min-h-[750px] py-44 midground">
			<div class="h-36 w-36 bg-neutral-800 rounded-full blur-xs absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-225px] translate-y-[120px]" />
			<div class="h-36 w-36 bg-neutral-800 rounded-full blur-md absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-250px] translate-y-[125px]" />


			<div class="h-56 w-56 bg-neutral-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[40px] translate-y-[40px] z-10" />
			<div class="h-56 w-56 bg-neutral-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-40px] translate-y-[-40px] z-10" />
			<div class="h-56 w-56 bg-neutral-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[40px] translate-y-[-80px] z-10" />
			<div class="h-44 w-44 bg-neutral-800 rounded-full blur-lg absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-15px] translate-y-[-150px] z-10" />
			<div class="h-44 w-44 bg-neutral-800 rounded-full blur- absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[-15px] translate-y-[120px] z-10" />

			<div class="h-[275px] w-[275px] bg-lime-300 rounded-full blur-xl absolute top-0 left-0 right-0 bottom-0 m-auto z-5 translate-x-[15px] translate-y-[15px] mix-blend-hard-light" />
			<div class="h-[275px] w-[275px] bg-violet-300 rounded-full blur-xl absolute top-0 left-0 right-0 bottom-0 m-auto z-5 translate-x-[-15px] translate-y-[-15px] mix-blend-hard-light" /> 
			<div class="h-[275px] w-[275px] bg-neutral-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto z-10" />
			<div class="h-[275px] w-[275px] bg-neutral-800 rounded-full blur-xs absolute top-0 left-0 right-0 bottom-0 m-auto z-10" />


			<div class="h-24 w-24 bg-neutral-800 rounded-full blur-sm absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[250px] translate-y-[-125px]" />

			<div class="h-12 w-12 bg-neutral-800 rounded-full blur-xs absolute top-0 left-0 right-0 bottom-0 m-auto translate-x-[300px] translate-y-[-200px]" />
		</div> -->

		<div class="flex flex-col justify-start items-start col-span-12 mt-4 col-start-2 col-end-12 relative">
			<Hero client:load />
		</div>
	</main>

	<section class="grid grid-cols-12 grid-rows-8 gap-4 relative bg-gradient-to-r from-neutral-950 via-neutral-800 to-neutral-950">
		<div class="absolute inset-0 noise" />

		<div class="flex flex-col justify-start items-start col-span-4 col-start-2 row-span-2 relative" />

		<div class="flex flex-col justify-start items-start col-span-6 row-span-2 col-start-6 relative space-y-6">
			<p class="text-xl tracking-looser max-w-xl text-neutral-300">I'm Tim, artist / game dev / engineer and the sole founder and member of Unusual Undertaking.</p>
			<p class="text-xl tracking-looser max-w-xl text-neutral-300">I operate on a strong belief that a multi-disciplinary and generalist approach to tackling projects yields the best (and most interesting) results.</p>
			<p class="text-xl tracking-looser max-w-xl text-neutral-300">When you skillfully combine art and engineering, you end up making things people love.</p>
		</div>

		<div class="flex flex-col justify-start items-start col-span-4 col-start-2 row-span-3 row-start-4 relative">
			<h3 class="text-xl leading-[1.2] tracking-looser font-sans text-right">Currently accepting work</h3>
		</div>

		<div class="flex flex-col justify-start items-start col-span-6 row-span-3 col-start-6 row-start-4 relative space-y-6">
			<p class="text-xl tracking-looser max-w-xl text-neutral-300">I'm available for creative coding projects, game prototypes, full-stack web applications, and unique websites.</p>
			<p class="text-xl tracking-looser max-w-xl text-neutral-300">Email me at <a class="hover:text-indigo-400 hover:border-indigo-800 transition-colors duration-500 border-b-2 border-neutral-500" href="mailto:email@unusualundertaking.com" class="underline">email@unusualundertaking.com</a></p>
		</div>
	</section>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const layers = {
			foreground: 0.6,  // Fastest speed
			midground: 0.4,   // Medium speed
			background: 0.2   // Slowest speed
		};

		const updateParallax = () => {
			const scrollY = window.scrollY;

			Object.keys(layers).forEach(layer => {
				const elements = document.querySelectorAll(`.${layer}`);
				elements.forEach(element => {
					const speed = layers[layer as keyof typeof layers];
					const offset = scrollY * speed;
					(element as HTMLElement).style.transform = `translateY(${offset}px)`;
				});
			});
		};

		window.addEventListener('scroll', updateParallax);
	});
</script>
