---
import Layout from '../layouts/Layout.astro';
import {UU} from '../components/UU.tsx';
---

<Layout>
	<main class="grid grid-cols-12 grid-rows-12 gap-4 min-h-screen relative bg-gradient-to-r from-neutral-950 via-neutral-800 to-neutral-950">
		<div class="absolute inset-0 noise" />
		<div class="flex flex-col justify-start col-span-12 row-span-9 relative">
			<div class="flex flex-row justify-center items-center p-2 px-3 h-full w-full relative scale-[1.05]">
				<div class="absolute inset-0 m-auto h-104 w-104 rounded-full !z-50 border border-neutral-500" />
				<div class="absolute inset-0 m-auto h-112 w-112 rounded-full !z-50 border border-neutral-500" />
				<div class="absolute inset-0 m-auto h-128 w-128 rounded-full !z-50 border border-neutral-500" />
				<div class="absolute inset-0 m-auto h-136 w-136 rounded-full !z-50 border border-neutral-500" />

				<div class="border border-neutral-500 rounded-full w-80 h-80 relative -right-40 z-60">
					<div class="absolute inset-0 m-auto h-72 w-72 rounded-full z-50 border border-neutral-500" />

					<div class="absolute inset-0 m-auto h-40 w-40 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-30" />
					<div class="absolute inset-0 m-auto h-40 w-40 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-20" />
					<div class="absolute inset-0 m-auto h-40 w-40 rounded-full bg-indigo-500 blur-lg mix-blend-screen z-10" />
					<div class="absolute inset-0 -left-8 m-auto h-44 w-44 rounded-full bg-orange-400 blur-lg mix-blend-screen z-0" />
				</div>

				<div class="border border-neutral-500 rounded-full w-96 h-96 relative -right-20 z-50">
					<div class="absolute inset-0 m-auto h-88 w-88 rounded-full z-50 border border-neutral-500" />
					<div class="absolute inset-0 m-auto h-72 w-72 rounded-full z-50 border border-neutral-500" />
					<div class="absolute inset-0 m-auto h-64 w-64 rounded-full z-50 border border-neutral-500" />

					<div class="absolute inset-0 m-auto h-36 w-36 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-30" />
					<div class="absolute inset-0 m-auto h-36 w-36 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-20" />
					<div class="absolute inset-0 -top-8 m-auto h-40 w-40 rounded-full bg-indigo-500 blur-lg mix-blend-screen z-10" />
					<div class="absolute inset-0 m-auto h-40 w-40 rounded-full bg-green-500 blur-lg mix-blend-screen z-0" />
				</div>

				<div class="border border-neutral-500 rounded-full w-80 h-80 relative left-0 right-0 z-60">
					<div class="absolute inset-0 m-auto h-72 w-72 rounded-full z-50 border border-neutral-500" />

					<div class="absolute inset-0 m-auto h-44 w-44 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-20" />
					<div class="absolute inset-0 m-auto h-44 w-44 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-10" />
					<div class="absolute inset-0 top m-auto h-52 w-52 rounded-full bg-indigo-500 blur-xl mix-blend-screen z-0" />
					<div class="absolute inset-0 top-8 m-auto h-52 w-52 rounded-full bg-indigo-500 blur-lg mix-blend-screen z-0" />
				</div>

				<div class="border border-neutral-500 rounded-full w-96 h-96 relative -left-20 z-50">
					<div class="absolute inset-0 m-auto h-88 w-88 rounded-full z-50 border border-neutral-500" />
					<div class="absolute inset-0 m-auto h-72 w-72 rounded-full z-50 border border-neutral-500" />
					<div class="absolute inset-0 m-auto h-64 w-64 rounded-full z-50 border border-neutral-500" />

					<div class="absolute inset-0 m-auto h-36 w-36 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-30" />
					<div class="absolute inset-0 m-auto h-36 w-36 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-20" />
					<div class="absolute inset-0 m-auto h-40 w-40 rounded-full bg-green-500 blur-lg mix-blend-screen z-10" />
					<div class="absolute inset-0 -top-8 m-auto h-40 w-40 rounded-full bg-indigo-500 blur-lg mix-blend-screen z-0" />
				</div>

				<div class="border border-neutral-500 rounded-full w-80 h-80 relative -left-40 z-60">
					<div class="absolute inset-0 m-auto h-72 w-72 rounded-full z-50 border border-neutral-500" />

					<div class="absolute inset-0 m-auto h-40 w-40 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-30" />
					<div class="absolute inset-0 m-auto h-40 w-40 rounded-full bg-neutral-700 blur-sm mix-blend-multiply z-20" />
					<div class="absolute inset-0 right-4 m-auto h-40 w-40 rounded-full bg-indigo-500 blur-lg mix-blend-screen z-10" />
					<div class="absolute inset-0 -right-8 m-auto h-44 w-44 rounded-full bg-orange-400 blur-lg mix-blend-screen z-0" />
				</div>
			</div>
		</div>

		<header class="flex flex-col justify-start items-start col-span-4 col-start-2 row-span-3 relative">
			<h1 class="text-3xl leading-[1.2] tracking-looser font-sans max-w-xs text-right">Unusual<br />Undertaking</h1>
		</header>

		<div class="flex flex-col justify-start items-start col-span-6 row-span-3 col-start-6 relative">
			<h2 class="text-2xl leading-[1.2] tracking-loose max-w-lg text-neutral-300">A studio specializing in art, game-dev, and building software products.</h2>
		</div>
	</main>

	<section class="grid grid-cols-12 grid-rows-12 min-h-screen">
		<header class="flex flex-col justify-end col-span-4 col-start-2 row-span-2 bg-neutral-900">
			<h3 class="text-4xl leading-[1.1] p-8 text-right tracking-loose"><span class="text-neutral-700">A</span> Solo Undertaking</h3>
		</header>
		<div class="flex flex-col justify-start col-span-7 row-span-6 row-start-2 col-start-6 bg-neutral-900 bg-">
			<p class="text-4xl leading-[1.1] p-8 pb-4 tracking-loose">I’m <span class="text-neutral-400">Tim</span>, artist / game dev / engineer and the sole founder and member of <span class="text-neutral-400">Unusual Undertaking.</span></p>
			<p class="text-4xl leading-[1.1] p-8 pt-4 pb-4 tracking-loose">I operate on a strong belief that approaching projects with a multi-disciplinary and generalist perspective yields the most interesting results.</p>
			<p class="text-4xl leading-[1.1] p-8 pt-4 tracking-loose">When you skillfully combine art and engineering, you end up making things people love.</p>
		</div>
	</section>
	<section class="grid grid-cols-12 grid-rows-12 min-h-screen -mt-[300px]">
		<div class="flex flex-col justify-start col-span-7 row-span-6 bg-neutral-900">
			<p class="text-4xl leading-[1.1] p-8 pb-4 tracking-loose">Currently accepting work involving building:<br /><br /><span class="text-neutral-400">Fullstack web apps</span> / creative coding projects / unique websites / game prototypes / browser-based games</p>
		</div>
	</section>
</Layout>
