---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between text-center">
  <a href="/" class="hover:text-neutral-100"
    ></a
  >

  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2 text-[1.5rem] text-center">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/",
          }}>Home</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/posts",
          }}>Posts</a
        >
      </li>
    </ul>
  </nav>
</header>
