---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between text-center">
  <a href="/" class="hover:text-violet-400 text-gray-500 text-[1.5rem]"
    >__</a
  >

  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2 text-[1.5rem] text-center">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:text-violet-400"]: true,
            ["text-gray-400"]: pathname === "/",
          }}>Home</a
        >
      </li>
      <li class="text-gray-500">/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:text-violet-400"]: true,
            ["text-gray-500"]: true,
          }}>Posts</a
        >
      </li>
    </ul>
  </nav>
</header>
